@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
	html::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
	html {
		scroll-behavior: smooth;
	}
}

body {
	background-color: rgb(225, 222, 222);
}
.scroll-remove::-webkit-scrollbar {
	display: none;
}
.scroll-remove {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
